html,
body {
  margin: 0;
  padding: 0;
  background: #0e0e0f;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 14px;
  color: white;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  background: linear-gradient(#353A48, #ABADBE);
}

.content {
  z-index: 99;
  transform: translate3d(100%, -50%, 0);
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  padding: 12px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);

  span {
    font-size: 0.8em;
    color: #02B1FF;
  }
}

