* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

.canvas {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(#353A48, #ABADBE);
}

.infoPanel {
	z-index: 99;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 30px;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, 0.75);
	top: 0;
}

.selectedText {
	color: #03B2FF;
}

.videoBack {
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 30px;
	left: 0;

	.videoButtonWrapper {
		position: relative;
		width: 100%;
		height: 30px;
		top:0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.closeButton {
			z-index: 999;
			color: #fff;
				&:hover {
					color: #03B2FF;
					cursor: pointer;
			}
		}
	}

	.videoWrapper {
	  position: relative;
		padding-bottom: 56.25%;
	}
	.videoPlayer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:99vh;
	}
}






